@font-face {
    font-family: open_sans_light;
    src: url(fonts/OpenSans-Light.ttf);
}

* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

h1 {
    font-family: open_sans_light;
    font-size: 40px;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 100px;
    border: solid blue 1px;
}

p {
    font-size: 24px;
    font-family: open_sans_light;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 150px;
    border: solid blue 1px;
}

.thumbnail {
    max-width: 300px;
    margin: 0 auto;
}

.thumbnail-ctnr {
    border: solid blue 1px;
    text-align: center;
}
