@font-face {
    font-family: open_sans_light;
    src: url(https://banada.github.io/webvr/fonts/OpenSans-Light.ttf);
}

@font-face {
    font-family: open_sans_semibold;
    src: url(https://banada.github.io/webvr/fonts/OpenSans-SemiBold.ttf);
}

* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

h1 {
    font-family: open_sans_semibold;
    font-size: 40px;
    text-align: center;
    max-width: 800px;
    margin: 50px auto;
}

h3 {
    font-family: open_sans_light;
    font-size: 30px;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 50px;
}

p {
    font-size: 36px;
    font-family: open_sans_light;
    max-width: 800px;
    margin: 0 auto;
}

.container {
    overflow: auto;
    width: 80%;
    margin: 0 auto;
    position: relative;
}

#scaling-thumbnail {
    max-width: 40%;
    float: left;
    margin: 50px 50px;
    border-radius: 8px;
    box-shadow: 0px 2px 3px #666666;
}

#scaling-text {
    margin-top: 100px;
    margin-left: 50%;
}

#food-thumbnail-1 {
    max-width: 25%;
    margin: 50px auto;
    float: right;
    border-radius: 8px;
    box-shadow: 0px 2px 3px #666666;
}

#food-thumbnail-2 {
    max-width: 25%;
    margin: 50px 8px;
    float: right;
    border-radius: 10px;
    box-shadow: 0px 2px 3px #666666;
}

#food-text {
    margin-top: 100px;
    margin-right: 50%;
}

@media screen and (max-width: 1100px) {
    #scaling-thumbnail {
        margin: 50px 30%;
    }

    #scaling-text {
        clear: left;
        margin: 50px auto;
    }

    #food-thumbnail-1 {
        margin-right: 0px;
    }

    #food-thumbnail-2 {
        margin-right: 100px;
    }

    #food-text {
        clear: right;
        margin: 50px auto;
    }
}

p.controls {
    margin-top: 50px;
}

p.control-item {
    position: relative;
    margin-left: 50px;
}

.control-list > p {
    margin: 0 auto;
    text-indent: 50px;
    font-size: 18px;
}

#scene {
    width: 50%;
    height: 50%;
    margin: 0 auto;
}
